MONGO_URL=mongodb+srv://utnuser:utnus3r24@cluster0.d9lhmxd.mongodb.net/
MONGO_DB=student_service_dev
FLASK_DEBUG=True
FLASK_RUN_HOST=0.0.0.0
INFO_DB_COLLECTION=info_db
OBJECT_LOST_COLLECTION=object_lost
ZONE_COLLECTION=zone
STUDENT_API_ENVIRONMENT=Development
STUDENT_SERVICE_PORT=5001